In [1]:
import mysql.connector as con
from mysql.connector.errors import ProgrammingError , Error
#import core.InsertData as Insert

In [2]:
def CheckDatabase():
    """
    CheckDatabase() -> Checks if the Database required Exists or not
    Parameters -> None
    """
    print("Checking Database Requriments")
    db = con.connect(host="localhost", user= "root", passwd = "Ankit@875")
    cur = db.cursor()
    result = None
    
    try:
        cur.execute("use Access_Control_System")
    except ProgrammingError:
        print("Database not exist!")
        result = False
    else:
        result = True
        
    if result is True:
        print("Database Exists!!")
    else:
        print("Creating Table with the requried tables....")
        print("Please be patient...")
        cur.execute("create database access_control_system")
        cur.execute("use access_control_system")
    cur.close()
    db.close()

In [4]:
def CreateTable():
    """
    CheckCreateTable() -> Checks if the Table required Exists or not
    Parameters -> None
    """
    print("Checking tables")
    db = con.connect(host="localhost", user= "root", password = "Ankit@875",database="access_control_system")
    cur = db.cursor()
    
    try:
        cur.execute("create table emp_details(BADGE_NUMBER CHAR(8) NOT NULL, FIRST_NAME VARCHAR(100) NOT NULL, LAST_NAME VARCHAR(100) NOT NULL, EMPLOYEE_ID INT NOT NULL, GLOBAL_ID VARCHAR(8) NOT NULL UNIQUE, LOCATION VARCHAR(30) NOT NULL, OPERATORS_COMMENTS VARCHAR(500), CARD_NUMBER int NOT NULL, PRIMARY KEY(CARD_NUMBER));")
        print("table emp_details successfully created!")
    except ProgrammingError:
        print("Table emp_details already exist!")
   
        
    try:    
        cur.execute("""CREATE TABLE card_details (
  CARD_NUMBER int NOT NULL,
  date_of_issue TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
  End_date DATETIME DEFAULT '2050-12-31 23:59:59' not null,
  Last_change TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
  project_clearance VARCHAR(20) not null,
  card_status VARCHAR(20) NOT NULL,
  FOREIGN KEY (CARD_NUMBER) REFERENCES emp_details(CARD_NUMBER)
);
""")
        print("table emp_details successfully created!")  
    except ProgrammingError:
        print("Table card_details already exist!")
    
        
    cur.close()
    db.close()

In [5]:
if __name__ == "__main__":
    CheckDatabase()
    CreateTable()

Checking Database Requriments
Database Exists!!
Checking tables
Table emp_details already exist!
Table card_details already exist!

In [6]:
import mysql.connector
import datetime

# Establish a connection to the database
db = con.connect(host="localhost", user= "root", password = "Ankit@875",database="access_control_system")
cur = db.cursor()

def emp_details():
    BN = input("BADGE_NUMBER :")
    FN = input("FIRST_NAME : ")
    LN = input("LAST_NAME : ")
    EI = input("EMPLOYEE_ID : ")
    GI = input("GLOBAL_ID : ")
    L = input("LOCATION : ")
    CO = input("COMMENTS : ")
    CN = input("CARD_NUMBER : ")
    data = (BN,FN,LN,EI,GI,L,CO,CN)
    sql = "insert into emp_details values(%s,%s,%s,%s,%s,%s,%s,%s)"
    cur = db.cursor()
    cur.execute(sql, data)
    db.commit()
    print("Data Entered Successfully")
    
    
def card_details():
    CN = input("CARD_NUMBER : ")
    PC = input("project_clearence : ")
    CS = input("card_status : ")
    data = (CN, datetime.datetime.now(), datetime.datetime(2050, 12, 31, 23, 59, 59), datetime.datetime.now(), PC, CS)
    sql2 = "insert into card_details (CARD_NUMBER, date_of_issue, End_date, Last_change, project_clearance, card_status) values (%s, %s, %s, %s, %s, %s)"
    cur = db.cursor()
    cur.execute(sql2, data)
    db.commit()
    print("Successfully Card Added")

'if __name__ == "__main__":\n    emp_details()\n    card_details()'

In [7]:
db = con.connect(host="localhost", user= "root", password = "Ankit@875",database="access_control_system")
cur = db.cursor()
def Add_New():
    emp_details()
    card_details()

In [12]:
db = con.connect(host="localhost", user= "root", password = "Ankit@875",database="access_control_system")
cur = db.cursor()
def search_employee_data(search_term):
    cur = db.cursor()
    sql = "SELECT * FROM emp_details JOIN card_details ON emp_details.CARD_NUMBER = card_details.CARD_NUMBER WHERE emp_details.BADGE_NUMBER = %s OR emp_details.FIRST_NAME = %s OR emp_details.LAST_NAME = %s OR emp_details.EMPLOYEE_ID = %s OR emp_details.GLOBAL_ID = %s OR emp_details.CARD_NUMBER = %s"
    cur.execute(sql, (search_term, search_term, search_term, search_term, search_term, search_term))
    result = cur.fetchone()
    if result:
        return result
    else:
        print("No data found for the given search term")

In [20]:
if __name__ == "__main__":
    print("1. Add_New ")
    print("2. Search ")
    c = int(input("Choice : "))
    if c == 1:
        Add_New()
    elif c == 2:
        search_term = str(input("Enter Search input "))
        
        result =search_employee_data(search_term)
        print(result)
    else:
        print("Enter Correct Choice")

1. Add_New
2. Search
Choice : 2
Enter Search input Ankita
('SD123456', 'Ankita', 'Rajak', 90908, '909090', 'HYD', 'Beautifull girl', 989898, 989898, datetime.datetime(2023, 3, 9, 22, 41, 39), datetime.datetime(2050, 12, 31, 23, 59, 59), datetime.datetime(2023, 3, 9, 22, 41, 39), 'ABC', 'Active')

#####